@font-face {
    font-family: 'roca-one-light';
    src: url(./fonts/roca-one-light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #FFFBFE;
}

h1 {
    font-family: 'roca-one-light', fantasy;
    text-align: center;
    font-size: 60px;
    color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


/*top container for title and logo*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

/*Navigation Bar */
.navbar {
    display: flex;
    overflow: hidden;
    background-color: #6750A4;
    align-content: center;
    justify-content: center;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
    background-color: #1D192B;
}

.subnav-content {
    display: none;
    position: absolute;
    left: auto;
    background-color: #625B71;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #E8DEF8;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}




/*Navigation Bar  ends*/

/*Gallery starts*/

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24%;
}


@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

/*Gallery ends*/


/*footer starts*/
.footer {
    border-radius: 4px;
    height: 150px;
    background-color: #625B71;
}

.footericon {
    margin: 20px 20px 20px 20px;
}

/*footer ends*/